**
!.dockerignore
!.github/workflows/on-release.yml
!.gitlab-ci.yml
!Dockerfile
!LICENSE
!README.md
!deploy
!gui/Cargo.toml
!gui/launcher
!gui/shared
!gui/wizard
!src/std
!src/cmd
!src/boot
!src/lib
!src/CMakeLists.txt
!src/Dockerfile
!src/build.sh
!src/common.hpp
!src/conanfile.txt
!src/enum.hpp
!src/macro.hpp
!src/main.cpp
